<!DOCTYPE html>
<html>

    <header class="site-header" >
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
            <a class="navbar-brand mr-4" href="/"> funDesk.io </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="/about-us">About Us</a>
                <a class="nav-item nav-link" href="/contact-us">Contact Us</a>
              </div>
            </div>

            <!-- <div class="col">
              <button class="btn btn-light" onclick="swapStyle('light.css')">Light Mode</button>
              <button class="btn btn-dark" onclick="swapStyle('dark.css')">Dark Mode</button>
            </div> -->

          </div>
        </nav>
      </header>

  
</html>
