      <!-- <link rel="stylesheet"
      href="/article_app/styles/monokai-sublime.min.css">
<script src="/article_app/highlight.min.js"></script> -->



      <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script> -->

      <!-- <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/github.min.css" /> -->

      const btn = document.getElementById('mainbody');
      btn.addEventListener('click', function onClick(event) {
        // 👇️ change background color
        document.body.style.backgroundColor = 'black';
        // 👇️ optionally change text color
        document.body.style.color = 'white';
      });

      <link id="mystylesheet" rel="stylesheet" type="text/css" href="{% static 'blogs/light.css' %}">

      {% include 'article_app/theme.html'%}