
body{
	background-color: #fff;
	color: black;
}

h1, h2, h3, h4, h5, h6{
	color: black;
}

p, span, small{
	color: #888;
}

link{
	color: darkgoldenrod;
}

#one{
    color: darkgoldenrod;
}

hr{
	margin: 30px;
	background-color: #eaeaea;
}

